<nav class="menu">
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/modo-zombies">Modo Zombies</a></li>
    <li><a href="/desarrolladores">Desarrolladores</a></li>
    <li><a href="/entregas">Entregas</a></li>
  </ul>
</nav>