<nav class="menu">
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/acerca">Acerca</a></li>
    <li><a href="/modo-zombies">Modo Zombies</a></li>
    <li><a href="/desarrolladores">Desarrolladores</a></li>
    <li><a href="/titulos">Títulos</a></li>
  </ul>
</nav>

<style>
    #suggestions {
      list-style: none;
      padding: 0;
    }
    #suggestions li {
      margin: 5px 0;
    }
    #suggestions a {
      text-decoration: none;
      color: orange;
    }
    #suggestions a:hover {
      text-decoration: underline;
    }
  </style>

  <div>
      <h1>{{ pageTitle }}</h1>
  <input type="text" id="searchInput" placeholder="{{ searchPlaceholder }}">
  <ul id="suggestions">{{ suggestionsList }}</ul>

  <script src="/js/busqueda.js"></script>
</div>