---
layout: layout-page.njk
title: Desarrolladoras
description: Desarrolladoras de Call of Duty
---

<h1>{{ title }}</h1>


<p>La franquicia "Call of Duty" ha sido desarrollada por varias subsidiarias de Activision a lo largo de los años. Cada una de estas desarrolladoras ha contribuido con su propio estilo y enfoque, lo que ha permitido a la serie mantenerse fresca y variada. Aquí están las principales desarrolladoras que han trabajado en los juegos de "Call of Duty":</p>

<h3>Infinity Ward</h3>
<img src="/img/ward.png" alt="infinite" width="400">

<h4>Juegos desarrollados:</h4>

{% for post in collections.infinity %}
    <li><a href="{{ post.url }}"> {{ post.data.title }} - {{ post.data.date }}</a></li>
  {% endfor %}
</ul>


<h3>Treyarch</h3>
<img src="/img/treyarch_logo.png" alt="infinite" width="400">

<h4>Juegos desarrollados:</h4>
{% for post in collections.treyarch %}
    <li><a href="{{ post.url }}"> {{ post.data.title }} - {{ post.data.date }}</a></li>
  {% endfor %}
</ul>

<h3>Sledgehammer Games</h3>
<img src="/img/sledge.png" alt="infinite" width="400">
<h4>Juegos desarrollados:</h4>

{% for post in collections.sledgehammer %}
    <li><a href="{{ post.url }}"> {{ post.data.title }} - {{ post.data.date }}</a></li>
  {% endfor %}
</ul>

<h3>Raven Software</h3>
<img src="/img/ravens.jpeg" alt="infinite" width="400">

<h4>Contribuciones:</h4>
<p>Ha trabajado en el modo multijugador de varios juegos de "Call of Duty" y ha sido una desarrolladora de apoyo en varios títulos.</p>
{% for post in collections.raven %}
    <li><a href="{{ post.url }}"> {{ post.data.title }} - {{ post.data.date }}</a></li>
  {% endfor %}
</ul>
<p>(en colaboración con Treyarch)</p>

<h3>Other Developers / Support Studios</h3>
<h4>Beenox:</h4>
<p>Ha trabajado en la adaptación y optimización de varios títulos de "Call of Duty" para diferentes plataformas.</p>
  
<h3>High Moon Studios:</h3>
<p>Ha trabajado en la adaptación y optimización de varios títulos de "Call of Duty" para diferentes plataformas y ha proporcionado soporte adicional en el desarrollo.</p>

<h3>Vicarious Visions:</h3>
<p>Ha trabajado en la adaptación y optimización de varios títulos de "Call of Duty" para diferentes plataformas y ha proporcionado soporte adicional en el desarrollo.</p>

<h3>Demonware:</h3>
<p>Proporciona servicios de backend y soporte para la infraestructura en línea y multijugador de la franquicia.</p>

<h3>Contribuciones y colaboraciones adicionales</h3>

<p>Además de las principales desarrolladoras, varios otros estudios y equipos dentro de Activision han contribuido con contenido adicional, soporte y optimización de los juegos de "Call of Duty" a lo largo de los años. Esto incluye la creación de contenido descargable (DLC), mantenimiento de servidores y desarrollo de expansiones.</p>

