---
layout: layout-page.njk
title: Desarrolladores
description: Desarrolladoras de Call of Duty
---

<h1>{{ title }}</h1>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut blanditiis iure soluta non excepturi ratione amet unde quam. Vel id omnis nostrum explicabo obcaecati eveniet facilis reprehenderit exercitationem temporibus sint.
</p>
<img src="/img/eleventy-grumpy.avif" alt="Grumpy Eleventy">