---
layout: layout-page.njk
title: Saga de Call of Duty
description: Meta descripción de la página de inicio
---

<h1>{{ title }}</h1>
<p>
  En está página se hablará sobre toda la Saga de Videojuegos con el nombre de Call of Duty, que empezó desde el 2003 y cada entrega tiene un tiempo de salida de 1 año entre cada uno, lo que quiere decir que llevan existiendo más de 20 entregas en total por el momento en 2024.
</p>
<div class="image-container">
  <img src="/img/Saga.jpg" alt="Saga">
  
</div>
<hr>
<h2>{{ site.message }}</h2>
<p>
  Enlaces a las Redes Sociales de Call of Duty:
</p>
<ul>
  {% for link in site.linksDoc %}
    <li>
      <a href="{{ link.url }}" target="_blank">{{ link.text | safe }}</a>
    </li>
  {% endfor %}
</ul>