* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 1rem;
  max-width: 800px;
  min-height: 100vh;
  border: medium solid rgb(255, 145, 0);
  text-align: center;
  font-family: system-ui, sans-serif;
  background-color: rgb(0, 0, 0);
  color: #f39600;
}
h1,h2,h3,h4,h5{

  color: white;
}

p{

  color: #f39600;
}

a {
  color: #f39600;
  transition: all 0.3s ease-out;

  &:hover {
    color: red;
  }
}

hr {
  margin: 2rem auto;
  width: 80%;
}

img {
  display: block;
  margin: 0 auto;
  
}

p,
li {
  text-align: left;
}

.menu {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  border: thin solid rgb(255, 136, 0);

  ul {
    margin: 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  li {
    list-style: none;
  }
}
